body {
  background-color: #73A580;
  overflow: scroll;
}
@font-face {
  font-family: "advancefont";
  src: url("//2ttf.com/webfont/C7krpNB3zqC/webfont.ttf") format("truetype");
}
.parallax {
  display: flex;
  background-color: #001b2e;;
  padding: 20px;
}
img {
  border: solid 8px pink;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
.main-container {
  display: flex;
  justify-content: space-around;
  background-color: #001b2e;
}
.heading {
  color: #ed6a5a;
  font-size: 75px;
  font-family: "advancefont";
  padding: 30px;
  margin: 0;
}
.blurb {
  font-family: futura;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  width: 40%;
  color: #EEE2DF
}

.options{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  font-family: "advancefont";
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #2F0A28;
  margin-bottom: -10px;
}

.button {
  display: block;
  margin: 0 auto;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  border: solid 2px pink;
  margin: 15px;
  padding: 10px;
  background-color: #eee2df;
  width: 300px;
}
