body {
  background-color: #a2d729;
}
@font-face {
  font-family: "advancefont";
  src: url("//2ttf.com/webfont/C7krpNB3zqC/webfont.ttf") format("truetype");
}
.parallax {
  display: flex;
  border: solid 4px yellow;
  background-color: #2f0a28;
  padding: 20px;
}
img {
  border: solid 8px pink;
  width: 80%;
  margin: 0 auto;
}
.main-container {
  border: solid 3px red;
  display: flex;
  justify-content: space-around;
}
.heading {
  color: #ed6a5a;
  font-size: 75px;
  font-family: "advancefont";
  padding: 30px;
  margin: 0;
  border: solid 3px rgb(19, 19, 19);
}

.blurb {
  border: solid 3px yellow;
  font-family: futura;
  font-weight: bold;
  font-size: 18px;
  width: 40%;
  color: #001b2e;
}

.options{
  display: flex;
  justify-content: space-around;
}

.label {
  font-family: "advancefont";
  font-size: 40px;
  border: dotted 3px blueviolet;
  display: flex;
  justify-content: center;
  color: #001b2e;
}

.button {
  display: block;
  margin: 0 auto;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  border: solid 2px pink;
  margin: 15px;
  padding: 10px;
  background-color: #eee2df;
  width: 300px;
}